# Example .env.example file
# MediatR
Licenses__LicenseKey=your_key_here

# ASPNET
ASPNETCORE_URLS=
ASPNETCORE_ENVIRONMENT=

# JWT
# Must be at least 32 characters long.
JWT_SECRET=

# Db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=unithack
DB_USER=postgres
DB_PASSWORD=postgres
